@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
body {
  background-image: url("bgimage.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  color: black;
  overflow-x: hidden;
}
.info{
	max-width: 500px;
	position: absolute;
	transform: translate(100px, 100px); 
	font-family: 'Poppins', sans-serif;
}
.info h1 {
	font-size: 50px;
	font-family: 'PT Serif', serif;
}
.info p {
	font-size: 30px;
	text-align: justify;
}
.loginform{
	 position: relative;
	 transform: translate(800px, 130px);
	 font-size: 30px;
	 max-width: 450px;
	 
}
.container2{
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(76, 175, 80, 0.3);
}
.container2 input {
	padding: 12px 12px;
	height: 10px;
}

.loginform a{
	color:black;
	text-decoration: none;
	display: inline-block;
	background-color:#c2d6d6;
	padding: 5px 5px 5px 5px;
	font-family: 'Libre Baskerville', serif;
}
#active {
	background-color: White;
}
.loginform .button{
	transform: translate(50px, 0px);
}
body {
  margin: 0;
  font-family: Josefin Sans;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #301934;
  color: white;
}
.navbar p {
	text-align: center;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.topnav {
  overflow: hidden;
  background-color:#FFE5B4;
;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: white;
}

.topnav-right {
  float: right;
}