@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
body {
  background-size: cover;
  color: black;
  overflow-x: hidden;
}
.info{
	max-width: 500px;
	position: absolute;
	transform: translate(100px, 100px); 
	font-family: 'Poppins', sans-serif;
}
.info h1 {
	font-size: 50px;
	font-family: 'PT Serif', serif;
}
.info p {
	font-size: 20px;
	text-align: justify;
}
.signupform{
	 position: relative;
	 transform: translate(800px, 130px);
	 font-size: 30px;
	 max-width: 450px;
	 
}
.container2{
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(76, 175, 80, 0.3);
}
.container2 input {
	padding: 12px 12px;
	height: 10px;
}

.signupform a{
	color:black;
	text-decoration: none;
	display: inline-block;
	background-color:#c2d6d6;
	padding: 5px 5px 5px 5px;
	font-family: 'Libre Baskerville', serif;
}
#active {
	background-color: White;
}
.signupform .button{
	transform: translate(50px, 0px);
}